.page-title-wrap h2 { padding-top: 20px; }

/* 회원유형 */
.join-content { max-width: 440px; margin:0 auto; padding-bottom: 120px; }
.join-type .btn-join { display: flex; flex-direction: column; gap: 8px; padding: 40px 0 50px; }

/* sns */
.sns-wrap .sns-title { position: relative; color: #777; font-size: .875rem; }
.sns-wrap .sns-title::before { display: block; height: 1px; background: var(--cw-color-30); content: ''; }
.sns-wrap .sns-title span { position: absolute; left:50%; top:50%; transform: translate(-50%, -50%); width: 163px; padding: 0 10px; background: var(--cw-color-white); }
.sns-wrap .sns-btns { display: flex; flex-wrap: wrap; gap: 16px; align-items: center; justify-content: center; padding: 34px 0; }
.sns-wrap .sns-btns a { width: 44px; height: 44px; border-radius: 50%; font-size: 0; }
.sns-wrap .sns-btns a.kakaotalk { background: url('//skin.makeshop.co.kr/skin/rw_shop/images/icons/ico_kakao.svg') no-repeat 50% 50%; background-color: #fee500; }
.sns-wrap .sns-btns a.naver { background: url('//skin.makeshop.co.kr/skin/rw_shop/images/icons/ico_naver.svg') no-repeat 50% 50%; background-color: #03cf5d; }
.sns-wrap .sns-btns a.facebook { background: url('//skin.makeshop.co.kr/skin/rw_shop/images/icons/ico_facebook.svg') no-repeat 50% 50%; background-color: #1877f2; }
.sns-wrap .sns-btns a.apple { background: url('//skin.makeshop.co.kr/skin/rw_shop/images/icons/ico_apple.svg') no-repeat 50% 50%; background-color: #121212; }

/* 태블릿 */
@media (min-width: 768px) and (max-width: 991.98px) {
   .page-title-wrap p { padding-top: 0; }
}

/* 모바일 */
@media (max-width: 767.98px) {
    .page-title-wrap p { padding-top: 0; }
}