/* 로그인 정보 찾기 결과 */
.find-wrap { max-width: 440px; width:100%; margin:0 auto; padding-bottom: 120px; }
.find-wrap .find-result { display: flex; flex-direction: column; margin-top: 40px; font-size: .875rem; padding: 24px 0; border-top: 1px solid var(--cw-color-30); border-bottom: 1px solid var(--cw-color-30); text-align: center; }
.find-wrap .find-result strong { padding-bottom: 10px; font-weight: 600; }
.find-wrap .find-result ul { padding-bottom: 10px; }
.find-wrap .find-result .fc-point { color: var(--cw-point-color); }
.find-wrap .message { margin-top: 20px; font-size: .875rem; color: var(--cw-color-80); text-align: center; }
.find-wrap .btn-result { display: flex; flex-direction: column; gap: 8px; padding: 20px 0; }