/* 로그인 정보 찾기 */
.find-wrap { max-width: 440px; width:100%; margin:0 auto; padding-bottom: 120px; }
.find-wrap .form-textfield { display: flex; flex-direction: column; gap: 10px; padding-top: 20px; }
.find-wrap .txt-method { padding-top: 20px; color: var(--cw-color-80); font-size: .875rem; }
.find-wrap .form-textfield input { width: 100%; }
.find-wrap .form-check { padding-top: 8px; }
.find-wrap .form-check .form-check-label { font-size: .875rem; } 
.find-wrap .btn-find { display: flex; flex-direction: column; gap: 8px; padding: 24px 0; }

/* 회원인증 */
.auth-wrap { margin: 20px 0 40px; padding: 40px 0; border-top: 1px solid var(--cw-color-30); border-bottom: 1px solid var(--cw-color-30); }
.auth-wrap .txt-wrap { font-size: .875rem; text-align: center; }
.auth-wrap .txt-wrap strong { font-weight: 600; }
.auth-wrap .txt-wrap p { color: var(--cw-color-80); }
.auth-wrap .btn-auth { display: flex; gap: 12px; align-items: center; justify-content: center; margin-top: 24px; text-align: center; }
.auth-wrap .btn-auth a { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 92px; height: 92px; border:1px solid var(--cw-color-30); border-radius: var(--cw-border-radius); text-decoration: none; }
.auth-wrap .btn-auth span { display: inline-block; width: 36px; height: 36px; }
.auth-wrap .btn-auth span img { max-width: 100%; height: auto; }
.auth-wrap .btn-auth p { color: var(--cw-color-80); font-size: .875rem; }
.btn-auth { display: flex; align-items: center; justify-content: center; }
.btn-auth .btn { margin: 40px 0; width: 300px; }