.cw-neoeventtitle { font-weight: 700; padding-top: var(--cw-size-60); font-size: var(--cw-size-24); line-height: var(--cw-size-32); color: var(--cw-heading-color); }
.cw-neoeventlist .list-tab { display: flex; align-items: center; justify-content: space-between; margin-top: var(--cw-size-20); }
.cw-neoeventlist .list-tab a { display: flex; align-items: center; justify-content: center; width: 100%; height: var(--cw-size-60); color: var(--cw-heading-color); font-size: var(--cw-size-16); font-weight: 700; line-height: var(--cw-size-24); border-bottom: 1px solid var(--cw-color-30);}
.cw-neoeventlist .list-tab a.now { border-bottom: 2px solid var(--cw-heading-color); }
.cw-neoeventlist .list-contents { display: grid; gap: var(--cw-size-60) var(--cw-size-20); grid-template-columns: repeat(4, 1fr); padding-top: var(--cw-size-40); }
.cw-neoeventlist .list-contents li { position: relative; }
.cw-neoeventlist .list-contents li .link { text-indent: -9999px; position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.cw-neoeventlist .list-contents li .subject { display: flex; flex-direction:column; }
.cw-neoeventlist .list-contents li .subject .image { position: relative; display: flex; align-items: center; justify-content: center; }
.cw-neoeventlist .list-contents li .subject .image.noimg { border: 1px solid var(--cw-color-30); }
.cw-neoeventlist .list-contents li .subject .image .img { width: 100%; height: auto; }
.cw-neoeventlist .list-contents li .subject .image .status { position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; color: var(--cw-color-white); font-size: var(--cw-size-16); font-weight: 600; line-height: var(--cw-size-24); background: rgba(0, 0, 0, 0.50); }
.cw-neoeventlist .list-contents li .subject .title { padding: var(--cw-size-16) 0 var(--cw-size-4); font-size: var(--cw-size-16); line-height: var(--cw-size-24); word-break: break-all; }
.cw-neoeventlist .list-contents li .subject .date { font-size: var(--cw-size-14); color: var(--cw-color-80); line-height: var(--cw-size-20); }
.cw-neoeventlist .list-none { padding: var(--cw-size-20) 0; font-size: var(--cw-size-14); font-weight: 600; border-bottom: 1px solid var(--cw-color-30); text-align: center; }
.cw-neoeventbtns { display: flex; justify-content: center; align-items: center; padding-top: var(--cw-size-60); }
.cw-neoeventbtns .btn { width: var(--cw-size-300); }

@media (max-width: 991.98px) {
    .cw-neoeventtitle { display: none; }
    .cw-neoeventlist .list-contents { grid-template-columns: repeat(2, 1fr); gap: var(--cw-size-40) var(--cw-size-16); }
    .cw-neoeventbtns { padding-top: var(--cw-size-40); }
}
@media (max-width: 767.98px) {
    .cw-neoeventlist .list-tab a { height: var(--cw-size-48); font-size: var(--cw-size-14); }
    .cw-neoeventlist .list-contents { grid-template-columns: repeat(1, 1fr); padding-top: var(--cw-size-32); }
    .cw-neoeventbtns .btn { width: 100%; }
}