#modPasswd { display: flex; flex-direction: column; gap: 20px; max-width: 440px; width:100%; margin: 60px auto; text-align: center; }
#modPasswd .layer-title { font-size: var(--cw-size-24); font-weight: 700; }
#modPasswd .layer-text { padding: 24px 0; border-top: 1px solid var(--cw-color-30); border-bottom: 1px solid var(--cw-color-30); font-size: var(--cw-size-13); }
#modPasswd .layer-text strong { font-weight: 600; }
#modPasswd .layer-btns { display: flex; flex-direction: column; gap: 8px; }

@media (max-width: 991.98px) {
    #modPasswd { margin: 40px auto; padding: 0 16px; width: 100%; }
    #modPasswd .layer-title { font-size: var(--cw-size-16); }
    .layer-title { display: none; }
}