/* 비밀번호 재확인 */
.password-wrap { max-width: 440px; width:100%; margin:0 auto; padding-bottom: 120px;}
.password-wrap .message { display: flex; flex-direction: column; margin-top: 40px; font-size: .875rem; padding: 24px 0; border-top: 1px solid var(--cw-color-30); border-bottom: 1px solid var(--cw-color-30); text-align: center; }
.password-wrap .message strong { font-weight: 600; }
.password-wrap .form-wrapper { padding: 20px 0; }
.password-wrap .form-group { display: flex; align-items: center; padding: 10px 0; font-size: .875rem; }
.password-wrap .form-group .form-title { flex: 1 0 120px; }
.password-wrap .form-group .form-content { flex: 1 1 100%; font-weight: 600; }
.password-wrap .form-group .form-content .cw-textfield { width: 100%; }
.password-wrap .btn-password { display: flex; flex-direction: column; gap: 8px; }


/* 모바일 */
@media (max-width: 767.98px) {
    .password-wrap .form-group .form-title { flex: 1 0 80px; font-size: .813rem; }
}