.cw-passwordtitle { font-weight: 700; padding-top: var(--cw-size-60); font-size: var(--cw-size-24); line-height: var(--cw-size-32); color: var(--cw-heading-color); }
.cw-passwordform { padding: var(--cw-size-80) 0; margin-top: var(--cw-size-40); border-top: 1px solid var(--cw-heading-color); border-bottom: 1px solid var(--cw-color-30); text-align: center; }
.cw-passwordform p { margin-bottom: var(--cw-size-16); font-size: var(--cw-size-14); }
.cw-passwordform .form-wrap { display: flex; flex-direction: column; justify-content: center; gap: var(--cw-size-10); max-width: var(--cw-size-360); margin: 0 auto; }
.cw-passwordbtns { display: flex; justify-content: center; align-items: center; gap: var(--cw-size-8); padding-top: var(--cw-size-40); }
.cw-passwordbtns .btn { width: var(--cw-size-300); }

@media (max-width: 991.98px) {
    .cw-passwordtitle { display: none; }
}
@media (max-width: 767.98px) {
    .cw-passwordbtns { flex-direction: column; }
    .cw-passwordbtns .btn { width: 100%; }
}