COMPOSE_PROJECT_NAME=pressco21-nextcloud
BIND_ADDRESS=0.0.0.0
HTTP_PORT=18080

DEPLOY_DIR=/home/pressbackup/pressco21/nextcloud
APP_DATA_DIR=/home/pressbackup/pressco21/nextcloud/app
DB_DATA_DIR=/home/pressbackup/pressco21/nextcloud/db
REDIS_DATA_DIR=/home/pressbackup/pressco21/nextcloud/redis
EXTERNAL_SHARED_DIR=/mnt/pressco21-ssd/PRESSCO21_ACTIVE/shared
ACTIVE_ROOT_DIR=/mnt/pressco21-ssd/PRESSCO21_ACTIVE
UPLOADS_SHARED_DIR=/home/pressbackup/pressco21/nextcloud/shared

MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=replace-me
MYSQL_ROOT_PASSWORD=replace-me

NEXTCLOUD_ADMIN_USER=pressco21_admin
NEXTCLOUD_ADMIN_PASSWORD=replace-me
NEXTCLOUD_TRUSTED_DOMAINS=192.168.0.54 100.76.25.105 pressco21-backup.tailee581a.ts.net
